
<div>
    <div class="header-title">
        <p><strong>Inicio</strong> / Acerca del proyecto
        <h3>Acerca del proyecto</h3>
    </div>
    <div class="container p-5 my-5 bg-dark text-white">
        <h1>Descripción</h1>
        <p>El presente proyecto es un pequeño ejercicio que implementa las operaciones CRUD sobre una base de datos hipotética de alumnos y las posibles materias que pueden cursar. Es un proyecto simple que únicamente tiene el objetivo de practicar y demostrar habilidades requeridas para el puesto de programador JR.
        </p>
    </div>
    <div class="container p-5 my-5 bg-dark text-white">
        <h1>Backend</h1>
        <p>La API REST fue desarrollada con el lenguaje de programación Java y el framework web Spring Boot. Asimismo, el gestor de base de datos utilizado fue MySQL. </p>
        <div class="container">
            <div class="row img-div">
                <div class="col">
                    <img class="center-img" src='../../assets/java-logo.png' alt='image' width="225" height="225">
                </div>
                <div class="col">
                    <img class="center-img" src='../../assets/spring-logo.png' alt='image' width="225" height="225">
                </div>
                <div class="col">
                    <img class="center-img" src='../../assets/mysql-logo.png' alt='image' width="225" height="225">
                </div>
            </div>
        </div>
    </div>
      
    <div class="container p-5 my-5 bg-dark text-white">
        <h1>Frontend</h1>
        <p>Para el desarrollo de la interfaz de usuario se usó principalmente el framework Angular, el cual requiere el manejo de HTML, CSS y JavaScript. De igual manera, se usó el framework Bootstrap de HTML para lograr una interfaz agradable en un corto tiempo.</p>
        <div class="container">
            <div class="row img-div">
                <div class="col">
                    <img class="center-img" src='../../assets/angular-logo.png' alt='image' width="225" height="225">
                </div>
                <div class="col">
                    <img class="center-img" src='../../assets/htmlcj-logo.png' alt='image' width="400" height="225">
                </div>
            </div>
        </div>
    </div>
      
</div>
